body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
}

.parent-cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fit, minmax(0, 1fr));
    gap: 1rem;
    padding: 1rem;
    margin: 100px;
    justify-items: center;
    box-sizing: border-box;
    
; }
 
 .cont{
    align-items: left;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); 
}
 
.cont.one{
    background-color: hsl(31, 66%, 93%);
    grid-column: 1/2;
    grid-row: 1/2;
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    align-items: left;
    font-size: 58px;
    font-weight: 500;

 }

 em{
    font-style: italic;
    color: hsl(256, 67%, 59%);
 }

  #img-cont-1{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    align-items: left;

}

 .cont.two{
    background-color: hsl(39, 100%, 71%);
    grid-row: span 1.5;
    gap: 1rem;
    grid-column: 1/2;
    grid-row: 2/4;
    font-size: 58px;
    font-weight: 500;
    
 }

 #img-cont-2{
    width: 100%;
    height: auto;
    border-radius: 1rem;

}

 .cont.three{
    background-color: hsl(256, 67%, 59%);
    color: hsl(0, 0%, 100%);
    font-size: 58px;
    font-weight: 500;
    text-align: center;
    grid-column: 2/4;
    grid-row: 1/2;
    
 }

 #smx{
   color: hsl(39, 100%, 71%);;
 }

 #faster{
    font-style: italic;
    color: hsl(0, 0%, 100%);
    top: 0;
 }

 #img-cont-3{
    width: 100%;
    height: auto;
    object-fit: scale-down;

}

 .cont.four{
    background-color: hsl(0, 0%, 100%);
    grid-column: 2/3;
    grid-row: 2 / 3;
    font-size: 38px;
    font-weight: 500;
 }

 #img-cont-4{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;
    object-position: center;

}

 .cont.five{
    background-color: hsl(39, 100%, 71%);
    grid-column: 3/4;
    grid-row: 2 / 3;
    font-size: 38px;
    font-weight: 500;
    overflow: hidden;
    margin-bottom: 0;
 }

 #img-cont-5{
    width: 100%;
    height: auto;
    border-radius: 1rem;
    object-fit: cover;

}

 .cont.six{
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    font-family: 'DM Sans', sans-serif;
    text-align: left;
    grid-column: 2/3;
    grid-row: 3 / 4;
    margin: 0;
    padding: auto;
 }

 .bold{
    font-weight: 500;
    font-size: 68px;
    text-align: left;
    margin-bottom: 0;
 }

 #img-cont-6{
    width: 100%;
    height: auto;
    border-radius: 1rem;

}

 .cont.seven{
    background-color: hsl(256, 67%, 59%);
    grid-column: 3/5;
    grid-row: 3/4;
    font-size: 58px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 }

  #img-cont-7{
    width: 100%;
    height: auto;
    border-radius: 1rem;

 }

 .cont.eight{
    background-color: hsl(254, 88%, 90%);
    grid-column: 4/5;
    grid-row: 1/3;
    font-size: 38px;
    font-weight: 500;
 }

 #img-cont-8{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.normal-p{
    font-size: 18px;
    top: 0;
    margin-top: 0;
}    
 footer{
    background-color: hsl(39, 100%, 71%);
    color: hsl(0, 0%, 7%);
    text-align: center;
    padding: 1rem;
    font-size: 18px;
 }

 @media screen and (max-width: 1440px) {
    .parent-cont {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
    }
    
    .cont {
        width: 100%;
    }
   }
   
   @media screen and(max-width: 375px) {
    .parent-cont {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: none;
    }
    
    .cont {
        width: 100%;
        grid-column: 1;
        grid-row: auto;
    }
   }

   
